In [1]:
import pandas as pd

In [2]:
# mezclar dataframes permite integra filas de dos DF que contienen informacion en comun en una o varias columnas mediante una clave

In [3]:
DF1 = pd.DataFrame(
    {
        "AUTOS":["Nissan","Ford", "Audi"],
        "COLOR":["blanco","azul", "rojo"]
    }
)
DF1

    AUTOS   COLOR
0  Nissan  blanco
1    Ford    azul
2    Audi    rojo

In [5]:
DF2 = pd.DataFrame(
    {
        "AUTOS":["Nissan","Ford", "Audi"],
        "MODELO":[2018,2020,2022]
    }
)
DF2

    AUTOS  MODELO
0  Nissan    2018
1    Ford    2020
2    Audi    2022

In [8]:
# on es la clave de mezcla, q seria AUTO porq es la q se repite en ambos DFs
DF = pd.merge(DF1,DF2,on="AUTOS")
DF

    AUTOS   COLOR  MODELO
0  Nissan  blanco    2018
1    Ford    azul    2020
2    Audi    rojo    2022

In [28]:
# how outer es para tomar como referencia las filas de ambos DFs, por defecto es inner
DF = pd.merge(DF1,DF2,on="AUTOS",how="outer")

In [17]:
DF

    AUTOS   COLOR  MODELO
0  Nissan  blanco    2018
1    Ford    azul    2020
2    Audi    rojo    2022

In [29]:
# si modificamos DF2 para q no tenga clave con mismo valor
DF1 = pd.DataFrame(
    {
        "AUTOS":["Nissan","Ford", "Audi"],
        "COLOR":["blanco","azul", "rojo"]
    }
)
DF2 = pd.DataFrame(
    {
        "AUTOS":["Toyota","Ford", "Audi"],
        "MODELO":[2018,2020,2022]
    }
)

In [30]:
DF = pd.merge(DF1,DF2,on="AUTOS",how="inner") # es lo mismo que DF = pd.merge(DF1,DF2,on="AUTOS") porq es el valor por defecto
DF

  AUTOS COLOR  MODELO
0  Ford  azul    2020
1  Audi  rojo    2022

In [33]:
DF = pd.merge(DF1,DF2,on="AUTOS",how="outer") # por outer mezcla los 2 DFs con sus filas, y aplica NaN 
DF

    AUTOS   COLOR  MODELO
0  Nissan  blanco     NaN
1    Ford    azul  2020.0
2    Audi    rojo  2022.0
3  Toyota     NaN  2018.0

In [35]:
DF = pd.merge(DF1,DF2,on="AUTOS",how="left") # left es para mezclas el DF1 como central q es el q esta a la izq ... o right
DF

    AUTOS   COLOR  MODELO
0  Nissan  blanco     NaN
1    Ford    azul  2020.0
2    Audi    rojo  2022.0